Package: ru.anonym0uz.vkpassreborn
Name: VKPassReborn
Version: 1.0
Architecture: iphoneos-arm
Description: Reborn VKPass.
Maintainer: Alexander Orlov
Author: Alexander Orlov
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
