Package: ru.anonym0uz.vkpassreborn
Name: VKPassReborn
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Alexander Orlov
Author: Alexander Orlov
Section: Tweaks
Depends: dev.theos.orion (>= 1.0.0), firmware (>= 12.2)
Version: 0.0.1-66+debug
Installed-Size: 1140
